# https://wiki.archlinux.org/title/Power_management/Wakeup_triggers#Instantaneous_wakeups_from_suspend
[Unit]
Description=no_usb_wakeup / Disable USB controllers in /proc/acpi/wakeup

# cat /proc/acpi/wakeup
[Service]
# Type=oneshot
ExecStart=/bin/bash -c "echo XH00 >> /proc/acpi/wakeup"

[Install]
WantedBy=multi-user.target
