# https://wiki.archlinux.org/title/Power_management/Wakeup_triggers#Instantaneous_wakeups_from_suspend
[Unit]
Description=no_usb_wakeup

[Service]
ExecStart=/bin/bash -c "echo XH00 >> /proc/acpi/wakeup"

[Install]
WantedBy=multi-user.target
